{% extends 'base.html.twig' %}

{% block title %}درباره ما{% endblock %}

{% block body %}
        <!-- blog section start -->
        <div class="utf_blog_section utf_section_padding">
            <div class="container">
                <div class="row">
                    <div class="colsm-12 col-md-9">
                        <p>
                            شرکت توسعه فناوری سرکش در سال 1390 کار خود را در ضمینه توسعه نرم افزار‌های انبارداری و حسابداری انبار شروع کرد.
                        </p>
                        <p>
                            در سال 1393 اولین محصولات این شرکت در ضمینه نرم افزار‌های اتوماسیون اداری به بازار آمد که با استقبال قابل قبولی از سوی مشتریان روبه‌رو شد.
                        </p>
                        <p>
                            هم اکنون شرکت توسعه فناوری سرکش با بهره‌گیری از نیروهای متخصص و جوان که سرمایه اصلی شرکت هستند بر روی نسل جدید محصولات این شرکت در حال فعالیت می باشد.
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-3 text-center">
                        <img src="{{ asset('site/assets/img/about.jpg') }}" class="img-thumbnail" style="max-height: 128px; max-width: 128px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
