{% extends 'base.html.twig' %}

{% block title %}تماس با ما{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <img src="{{ asset('site/assets/img/contactus.jpg') }}" class="img-fluid">
            </div>
            <div class="col-12">
                <h3>
                    تماس با شرکت
                </h3>
                <p>
                    آدرس: کرمانشاه کیلومتر ۱۰ جاده اسلام آباد غرب شهرک صنعتی مرصاد
                </p>
                <p>
                    تلفن:45323211-083
                </p>
                <p>
                    ایمیل:Info[at]sarkesh.org
                </p>
            </div>
        </div>
    </div>
{% endblock %}
