{% extends 'base.html.twig' %}

{% block title %}صفحه اصلی{% endblock %}

{% block body %}

    <!-- Hero Section -->
    <section class="banner-1 parallax-bg bg-fixed overlay light-6 fullscreen-banner valign-wrapper" data-stellar-background-ratio="0.5">
        <div class="valign-cell text-center">
            <div class="container padding-top-40">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="rev-heading intro-title intro-bold dark-text mb-10 text-uppercase">توسعه فناوری سرکش</h1>
                        <p class="lead text-regular dark-text mb-30">متخصص توسعه زیرساخت‌های نرم‌افزاری و سخت افزاری</p>
                        <div class="tp-caption tp-resizeme rev-btn"> <a href="#" class="btn blue vfx_waves_effect waves-light">مشاهده خدمات ما</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Features Section -->
    <section class="utf_feature_area">
        <div class="row fix_m">
            <div class="col-xs-12 col-sm-6 col-md-3 fix_p">
                <div class="utf_single_feature text-center blue_col_one"> <i class="fab fa-linux"></i>
                    <h4>توسعه نرم‌افزار</h4>
                    <div class="utf_single_cap">
                        <p>تیم توسعه نرم افزاری شرکت آماده انجام خدمات طراحی و اجرای انواع پروژه‌های وب را دارد</p>
                        <a class="th_bt btn vfx_waves_effect" href="#">اطلاعات بیشتر</a> </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 fix_p">
                <div class="utf_single_feature text-center blue_col_two"> <i class="fas fa-microchip"></i>
                    <h4>توسعه سخت‌افزار</h4>
                    <div class="utf_single_cap">
                        <p>طراحی و مونتاژ انواع بورد‌های الکترونیکی و برنامه‌نویسی سخت‌افزار تخصص ماست</p>
                        <a class="th_bt btn vfx_waves_effect" href="#">اطلاعات بیشتر</a> </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 fix_p">
                <div class="utf_single_feature text-center blue_col_three"> <i class="fas fa-wifi"></i>
                    <h4>شبکه و مخابرات</h4>
                    <div class="utf_single_cap">
                        <p>تیم توسعه شبکه آماده انجام کلیه خدمات پسیو و اکتیو شبکه را دارد.</p>
                        <a class="th_bt btn vfx_waves_effect" href="#">اطلاعات بیشتر</a> </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 fix_p">
                <div class="utf_single_feature text-center blue_col_four"> <i class="fas fa-toolbox"></i>
                    <h4>تعمیر و نگهداری</h4>
                    <div class="utf_single_cap">
                        <p>تعمیر و نگهداری انواع سیستم‌های سخت افزاری و نرم‌افزاری تخصص ماست</p>
                        <a class="th_bt btn vfx_waves_effect" href="#">اطلاعات بیشتر</a> </div>
                </div>
            </div>
        </div>
    </section>
    <section class="utf_section_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-5 device_img"> <img src="{{ asset('site/assets/img/mockup/device.png') }}" class="img-responsive" alt="Image"> </div>
                <div class="col-md-7">
                    <h2 class="font-30 mb-30 were_title title-text-shadow">سلام ما یک تیم طراح خلاق هستیم</h2>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان <br>
                        <br>
                        هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان, </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
