{% extends 'admin/base.html.twig' %}

{% block title %}{% trans %}admin.dashboard{% endtrans %}{% endblock %}
{% block pageBody %}
<h1>سلام به همگی </h1>
    <i class="fa fa-inbox"></i>
{% endblock %}